.contact {
    background-color: #1E755E;
    $color: #B6BCBF;
    $border: none;
    $backgroundColor: transparent;
    $outline: none;

    &__text {
        color: $color;
    }

    &__submit,&__input {
        color: $color;
        border: $border;
        background-color: $backgroundColor;
    }

    &__input {
        &::placeholder {
            color: $color;
        }

        &:focus,&:active,&:hover {
            background-color: $backgroundColor;
            outline: $outline;
        }
    }
}
