.contact {
    $color: #B6BCBF !important;
    $border: none !important;
    $backgroundColor: transparent !important;
    $outline: none !important;

    &__text {
        color: $color;
    }

    &__submit,&__input {
        color: $color;
        border: $border;
        background-color: $backgroundColor;
        outline: $outline;
    }

    &__input {
        &::placeholder {
            color: $color;
        }

        &:focus,&:active,&:hover {
            background-color: $backgroundColor;
            outline: $outline;
            box-shadow: none !important;
        }
    }
}
