.contact {
    background-color: #1E755E;
    $color-primary: #B6BCBF;
    $border-primary: none;
    $backgroundColor-primary: transparent;
    $outline: none;

    @mixin element-rendering(
        $color: $color-primary,
        $border: $border-primary,
        $backgroundColor: $backgroundColor-primary
    ) {
        color: $color;
        border: $border;
        background-color: $backgroundColor;
    }

    &__text {
        color: $color-primary;
    }

    &__submit {
        @include element-rendering;
    }

    &__input {
        @include element-rendering;

        &::placeholder {
            color: $color-primary;
        }

        &:focus,&:active,&:hover {
            background-color: $backgroundColor-primary;
            outline: $outline;
        }
    }
}
