.menu {
    background-color: #C6C4C5;

    &__item--active a {
        color: #302E2F;
    }

    &__item a {
        color: white;
    }

    &__light-band {
        background-color: #949494;
    }
}
