<div class="container mt-md-6" id="about">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ snippet.content.profile_image.url }}" class="mx-auto d-block" alt="">
        </div>
        <div class="col-md">
            {{ snippet.content.description|raw }}
        </div>
    </div>
</div>
