<div class="row pt-7 gallery" id="portfolio">
    <div class="row">
        <div class="col text-center mb-3 gallery__description">
            <p>{{ snippet.content.description }}</p>
        </div>
    </div>
    <div class="row">
        {% for image in snippet.content.images %}
            {% include 'blocks/gallery_single_image.html.twig' with {'image': image, 'increment': loop.index0} %}
        {% endfor %}
    </div>
</div>