{% set links = snippet.content.links %}
<div class="row menu">
    <div class="p-4 menu__light-band">

    </div>
    <div class="col pb-4 pt-4 pt-md-9 pb-md-9">
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <ul class="navbar-nav mx-md-auto">
                    {% for link in links %}
                        <li class="nav-item {{ loop.first ? 'menu__item--active' : 'menu__item' }}">
                            <a class="nav-link" href="#{{ link.anchor }}"><h4>{{ link.link_name }}</h4></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</div>
