<div class="row pt-5 services" id="service">
    {% for service in snippet.content.services %}
        {% include 'blocks/single_service.html.twig' with {'service': service} %}
    {% endfor %}
</div>
