@import './variables.module.scss';

.menu {
  display: flex;
  flex-direction: column;

  &__items {
    padding: 30px 0 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: $menu-items-background-color;
  }

  &__item {
    margin: 0px;
    padding: 10px 0 10px 0;
    color: $menu-item-text-color;

    &--active {
      color: $menu-item-text-color-active;
    }
  }
}

.menubanner {
  height: 50px;
  width: 100vw;
  background-color: $menu-banner-background-color;
  max-width: 100%;
}
