$text-color: black;

$header-banner-text-color: #e2a07e;
$header-services-text-color: #a95e39;
$header-services-background-color: #20362b;

$services-item-img-border-color: #82ca9c;
$services-item-text-color: #82ca9c;
$services-item-title-color: #1b4d30;

$menu-items-background-color: #c6c4c5;
$menu-item-text-color: #e8e6e7;
$menu-item-text-color-active: #302e2f;
$menu-banner-background-color: #949494;
